html,body {
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sammitch-header {
  font-size:9dvw;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color:white;
}

.sandwitch-builder {
  display:flex;
  flex-direction: row;
}

.center {
  text-align: center;
}

.sandwich {
  width: 40vw;
  margin: 0 auto;
}

.sandwich-image {
  width:50%;
}

.sandwich-stack {
  position: relative;
}

.sandwich-stack img {
  width:100%;
  position: relative;
  left: 0;
}

.sandwich-stack img:nth-child(1) {
  top: 0px;
  z-index: 100;
}

.sandwich-stack img:nth-child(2) {
  top: -5vw;
  z-index: 99;
}

.sandwich-stack img:nth-child(3) {
  top: -10vw;
  z-index: 98;
}

.sandwich-stack img:nth-child(4) {
  top: -15vw;
  z-index: 97;
}

.sandwich-stack img:nth-child(5) {
  top: -20vw;
  z-index: 96;
}

.sandwich-stack img:nth-child(6) {
  top: -25vw;
  z-index: 95;
}

/* Recipe */

.ingredient-list {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}